<!DOCTYPE html>

<html>

<head>
	<title></title>

</head>
<style>
</style>

<body>
	<!--Your HTML here-->
	<header>
		<nav>
			<div class="nav" style='width:100%; height: 6%;'>
				<div class='logo'>
					<h1>LOGO</h1>
				</div>

				<form action="/hi" method="post">

					<input type="text" name="tableName" placeholder="Ticker Symbol Ex. AAPL">
					

					<input type="text" name="startDate" placeholder="Start Date yyyy-mm-dd">
					

					<input id="first" type="text" name="f" placeholder="End Date yyyy-mm-dd">
					
					<input type="submit" name="submit">

				</form>
			</div>
		</nav>
	</header>


	<!--Required scripts-->

<!--Reference the queryDisplay script-->
			<script>
			</script>
		</div>
</body>

<footer>
	<div class='container'>
		</div>
	</div>
</footer>

</html>
